{% extends "page.twig" %}

{% block title %}
    <h1>404: Page not found</h1>
{% endblock %}

{% block content %}
  <ul>
    <span>Sorry, we couldn't find that page. Why not try...</span>
    <li><a href="/">Going back home</a></li>
    <li><a href="/search">Searching the site</a></li>
  </ul>
{% endblock %}
