{% extends "page.twig" %}

{% block content %}

<form method="post" action="/account">
  <label>
      Display name
      <input name="display_name" type="text" value="{{ username }}" placeholder="Display name" />
  </label>

  <label>
      First name
      <input name="first_name" type="text" value="{{ user.first_name.und.0.value }}" placeholder="First name" />
  </label>

  <label>
      Last name
      <input name="last_name" type="text" value="{{ user.last_name.und.0.value }}" placeholder="Last name" />
  </label>

  <label>
      Password
      <input name="password" type="password" value="******" placeholder="Password" />
  </label>

  <label>
      Confirm password
      <input name="password_confirm" type="password" value="******" placeholder="Confirm password" />
  </label>

  <label>
      Email
      <input name="email" type="text" value="{{ user.mail }}" placeholder="Email" />
  </label>

  <input type="submit" value="Save changes" class="button" />
</form>

{% endblock %}
