{% extends "page.twig" %}

{% block body_class %}intro-page{% endblock %}

  {% block personalisation %}
  {% endblock %}

  {% block content %}
    <article class="site-intro">
      <div class="intro"> 
          <section class="row small-12">
            <h1>Welcome to blood cancer connect</h1>
            <h2>Your personalised information service</h2>
            <ul class="intro-icons">
              <li class="ico-discover">Discover relevent news stories and articles </li>
              <li class="ico-collect">Save and organise them into collections</li>
              <li class="ico-connect">Share comments and ask questions</li>
            </ul>
            <span>Our service works best if you tell us about yourself...</span>
            <a href="/?stage=personalise">Let's get started</a>
          </section>
      </div>

      <div class="feature discover">
          <div class="row small-10 column text">
            <section>  
              <img src="/img/home-cards.png" alt="Card image" />
              <h2>Discover articles that are relevant to you from a range of blood cancer charities</h2>
              <p>You can also discover locations near you and save your own locations.</p>
            </section>
          </div>
      </div>

      <div class="feature collections">
        <div class="row small-10 column text rh">
          <section>
            <img src="/img/home-collections.png" alt="Collection image" />
            <h2>Save articles and create collections</h2>
            <p>You can also browse shared collections from others, and specifically curated expert collections.</p>
            
          </section>
        </div>
      </div>

      <div class="feature share last">
        <div class="row small-10 column text">
          <section>
            <img src="/img/home-comments.png" alt="Collection image" />
            <h2>Post questions and comments and share experiences</h2>
            <p>Blood Cancer Connectis a thriving community of patients, carers and medical profiessionals.</p>
          </section>  
        </div> 
      </div>
    </article>
  {% endblock %}
