{% extends "page.twig" %}

{% block content %}
  <div class="row register">
    <div class="column small-12 medium-6 small-centered">
      <form method="post" action="/register" class="register">
        <label>First name<input name="first_name" type="text" class="name" /></label>
        <label>Last name<input name="last_name" type="text" class="name" /></label>
        <p class="name_preview"></p>
        <label>Email address<input name="email" type="email" /></label>
        <label>Password<input name="password" type="password" /></label>
        <label>Confirm password<input name="password_confirm" type="password" /></label>
        <input type="submit" value="Go!" class="button round" />
      </form>
    </div>
  </div>
{% endblock %}
