{% extends "page.twig" %}

{% block content %}
<form method="post" action="/node/add">
    <label>
        Title<input name="title" type="text" />
    </label>
    <label>
        Content<textarea name="content" rows="10"></textarea>
    </label>
    <input type="submit" value="Go!" />
    <input type="hidden" name="content_type" value="{{ content_type }}" />
</form>
{% endblock %}
